{% extends 'layouts/layout.html.twig' %}

{% block body %}
    <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-12 col-xl-12">
                        <!-- blog start -->
                        <div class="recent-news blog-lg">
                            <div class="action-box blog-lg">
                                <img src="{{ asset('assets/images/blog/' ~ post.image ) }}" alt="{{ post.title }}" title="{{ post.title }}" />
                            </div>
                            <div class="info-bx">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>{{ post.date|date('d/m/Y') }}</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">{{ post.title }}</a></h5>
                                <p>{{ post.description }}</p>
                                {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                                    {% if ('ADMIN' in app.user.roles[0]) %}
                                        <div style="display: flex; flex-direction: row;">
                                            <a href="{{ path('blog_edit', {'id': post.id}) }}" class="btn btn-warning mt-4 mr-2" style="background-color: #007bff; color: white;">
                                                <span class="ttr-icon"><i class="ti-pencil"></i></span>
                                                <span class="ttr-label">Edit</span>
                                            </a>
                                            <form method="post" action="{{ path('blog_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this post?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                                                <button class="btn btn-danger mt-4" style="background-color: #dc3545; color: white;">
                                                    <span class="ttr-icon"><i class="ti-trash"></i></span>
                                                    <span class="ttr-label">Delete</span>
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                            </div>
                        </div>
                        <!-- blog END -->
                    </div>
                    <div class="col-lg-12 col-xl-12">
                        <a href="{{ path('blog') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}