{% extends 'layouts/layout-admin.html.twig' %}

{% block body %}
<div class="content-block">
    <div class="section-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="recent-news blog-lg">
                        <div class="action-box blog-lg">
                            <img src="{{ asset('assets/images/articulos/' ~ articulo.imagen ) }}" alt="{{ articulo.descripcion }}" title="{{ articulo.nombre }}" style="max-width: 500px" />
                        </div>
                        <div class="info-bx">
                            <ul class="media-post">
                                <li><a href="#"><i class="fa fa-calendar"></i>{{ articulo.fechaCaducidad|date('d/m/Y') }}</a></li>
                                <li><a href="#"><i class="fa fa-user"></i>{{ articulo.usuario.name|capitalize }}</a></li>
                            </ul>
                            <h5 class="post-title"><a href="#">{{ articulo.nombre }}</a></h5>
                            <a href="#" class="comments-bx">{{ articulo.precio }} €</a>
                            <p>{{ articulo.descripcion }}</p>
                            <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-12">
                    <a href="{{ path('articles') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver a los artículos</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}