{% extends 'layouts/layout.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}
<div class="page-wraper">
    <div id="loading-icon-bx"></div>
    <div class="account-form">
        <div class="account-head" style="background-image:url({{ asset('assets/images/background/bg2.jpg') }});">
            <a href="{{ path('index') }}"><img src="{{ asset('assets/images/logo-white.png') }}" alt=""></a>
        </div>
        <div class="account-form-inner">
            <div class="account-container">
                <div class="heading-bx left">
                    <h2 class="title-head">Sign Up <span>Now</span></h2>
                    <p>Login Your Account <a href="{{ path('login') }}">Click here</a></p>
                </div>
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                {{ form_start(registrationForm, {
                    'attr': {
                        'enctype': 'multipart/form-data'
                    }
                }) }}
                    <div class="row placeani">
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form_label(registrationForm.name, 'Name *', {
                                    'label_attr': {
                                        'class': 'col-form-label'
                                    }
                                }) }}
                                <div class="input-group">
                                    {{ form_widget(registrationForm.name, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form_label(registrationForm.email, 'Email *', {
                                    'label_attr': {
                                        'class': 'col-form-label'
                                    }
                                }) }}
                                <div class="input-group">
                                    {{ form_widget(registrationForm.email, {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder': '@'
                                        }
                                    }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form_label(registrationForm.image, 'Image', {
                                    'label_attr': {
                                        'class': 'col-form-label'
                                    }
                                }) }}
                                <div class="input-group">
                                    {{ form_widget(registrationForm.image, {
                                        'attr': {
                                            'class': 'form-control',
                                            'data-default-file': 'assets/images/profile/guest.jpg'
                                        }
                                    }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form_label(registrationForm.username, 'Username *', {
                                    'label_attr': {
                                        'class': 'col-form-label'
                                    }
                                }) }}
                                <div class="input-group">
                                    {{ form_widget(registrationForm.username, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form_label(registrationForm.plainPassword, 'Password *', {
                                    'label_attr': {
                                        'class': 'col-form-label'
                                    }
                                }) }}
                                <div class="input-group">
                                    {{ form_widget(registrationForm.plainPassword, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form_widget(registrationForm.agreeTerms) }}
                                {{ form_label(registrationForm.agreeTerms, 'Agree to the terms and conditions.', {
                                    'label_attr': {
                                        'class': 'form-check-label'
                                    }
                                }) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn button-md">{{ button_label|default('Register') }}</button>
                        </div>
                    </div>
                {{ form_end(registrationForm) }}
                <div class="col-lg-12 mt-4">
                    <a href="{{ path('index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}