<table class="table table-hover" style="margin-bottom: 80px;">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Nombre</th>
        <th scope="col">Logo</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    {% for partner in partners %}
        <tr id="partnersTable">
            <th>{{ partner.id }}</th>
            <td><img src="{{ asset('assets/images/partners/' ~ partner.logo ) }}" alt="{{ partner.description }}" title="{{ partner.description }}" width="50px" /></td>
            <td>{{ partner.name }}</td>
            <td>{{ partner.logo }}</td>
            <td>{{ partner.description }}</td>
            <td style="display: flex; flex-direction: row;">
                <a href="{{ path('partners_edit', {'id': partner.id}) }}" class="btn btn-warning mr-1" style="background-color: #007bff; color: white;"><i class="fa fa-edit" aria-hidden="true"></i></a>
                <form method="post" action="{{ path('partners_delete', {'id': partner.id}) }}" onsubmit="return confirm('Are you sure you want to delete this partner?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
                    <button class="btn btn-danger" style="background-color: #dc3545; color: white;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>